body, html {
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: #e1e4e8;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#click-btn {
  position: absolute;
  top: 330px;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 200px;
  height: 200px;
  border: none;
  outline: 0 !important;
  background: linear-gradient(0deg, #ff6e5c, #ff9966);
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 2em;
  
}

#click-btn:active {
  border: 2px solid #f54242;
}

.progress-ring {
  position: absolute;
  top: 330px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.progress-ring__circle {
  transform-origin: center;
  transform: rotate(-90deg);
  transition: stroke-dashoffset 0.3s;
}

.lvl {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 2em;
  padding-top: 50px;
}

.clicks {
  position: relative;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  margin-top: 350px;
  margin-bottom: 50px;
}

.click-power {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  color: #f54242;
  padding-top: 2%;
}

.first, .second {
  display: flex;
  width: 50%;
  flex-direction: row;
  justify-content: space-between;
}

.plus-one-cont, .plus-ten-cont {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.plus-one-sec-cont, .plus-ten-sec-cont {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.plus-one, .plus-ten {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  border: none;
  outline: 0 !important;
  background-color: #ff9966;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  color: white;
  font-size: 1.3em;
}

.plus-one:active, .plus-ten:active {
  border: 2px solid #f54242;
}

.click-power-value, .click-power-value-ten {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  color: #f54242;
}


.plus-one-sec, .plus-ten-sec {
  border-radius: 50%;
  height: 80px;
  width: 80px;
  border: none;
  outline: 0 !important;
  background-color: #f54242;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  color: white;
  font-size: 1.2em;
}

.plus-one-sec:active, .plus-ten-sec:active {
  border: 2px solid #ff9966;
}

.click-sec, .click-sec-ten {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  color: #f54242;
}

@media (min-width: 700px) and (max-width: 1280px) {
  .first, .second {
    width: 80%;
  }
}

@media (min-width: 320px) and (max-width: 700px) {
  .first, .second {
    width: 100%;
  }
}

