.button-main {
    color: white;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background-color: red;
    display: flex;
    text-align: center;
    align-items: center;

    &-text {
        width: 100%;
    }
}
